*
{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar
{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo
{
    height: 50px;
    width: 100px;
}

.nav-logo
{
    height: 50px;
    width: 100%;
    background-image: url("logo.jpeg");
    background-size:cover;
}

.border
{
    border: 2px solid transparent;
}

.border:hover
{
    border: 1.5px solid white;
}


/* box 2 */
 
.add1
{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add2
{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon
{
    display: flex;
} 

/* box 3 */


.nav-search
{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: blue;
}

.nav-select
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
}

.nav-input
{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover
{
    border: 2px solid orange;
}

/* box 4 */

.nav-1
{
    font-size: .7rem;
}

.nav-2
{
    font-size: .85rem;
    font-weight: 700;
}

/*  box 5 */

.cart i
{
    font-size: 30px;
}

.cart
{
    font-weight: 700;
    font-size: .85rem;
}

/* panel */

.panel
{
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}

.panel-ops p
{
    display: inline;
    margin-left: 15px;
}

.panel-ops
{
    width: 70%;
    font-size: .85rem;
}

.panel-deals
{
    font-size: 1rem;
    font-weight: 700;
}


                                        /* hero-section */


.hero-section
{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}                       

.hero-msg 
{
    background-color: white;
    width: 90%;
    height: 40px;
    font-size: .85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.hero-msg a
{
    color: #007185;
}

                                               /* shop section */
                                               
.shop-section
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #faf8f5;
    background-repeat: 40px 50px;
}                              

.box
{
    height: 400px;
    width: 22.5%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15px ; 
}

.box a
{
    text-decoration: none;
}

.box-img
{
    height: 300px;
    background-size: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}

.box-content
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a
{
    color: #007185;
}

                                                  /* footer */

footer
{
    margin-top: 15px;
}                                                  
    
.foot-panel
{
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.85rem;
}               

.foot-panel2
{
    background-color: #222f3d;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    
}

ul a
{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}

ul
{
    margin-top: 25px;
}

ul p
{
    font-weight: 700;
}

.space
{
    width: 100px;
    height: 290px;
}

.foot-panel3
{
    background-color: #222f3d;
    color: white;
    border-top: 0.35px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    height: 50px;
    background-image: url("logo.jpeg");
    background-size:contain;
    width: 100px;
}

.foot-panel4
{
    height: 76px;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages
{
    padding-top: 25px;
}

.copyright
{
    padding-top: 5px;
}